# Dependency directories
**/node_modules/

# Build output directories
**/dist/
**/build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
.tmp/
.temp/

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Package lock files (optional, depends on your workflow)
package-lock.json
yarn.lock

# Compiled binary files
*.class
*.dll
*.exe
*.o
*.so

# Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp

# Miscellaneous
.pnp/
.pnp.js
.eslintcache
.stylelintcache

# Testing
coverage/
.nyc_output/

# Typescript build output
*.tsbuildinfo
